* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: hsl(205, 100%, 7%, 0.8);
  margin-bottom: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-right: 20px;
  font-size: 20px;
}

.nav-item-log-out {
  margin-left: 20px;
}

.nav-item-log-out button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

ul li {
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: rgb(228, 73, 17);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p .alert {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new_user {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.field {
  width: 300px;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: white;
  border-radius: 10px;
}

.links-container {
  width: 300px;
  font-size: 16px;
  margin-top: 10px;
}

.foods-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-food-btn {
  margin-left: 33rem;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  padding: .3rem .4rem;
  background-color: #fff;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.add-food {
  color: #662549;
}

.header-food {
  color: #662549;
}

.foods-table {
  background-color: #F8F0E5;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
  border: 2px solid black;
  padding-bottom: 3rem;
}

.table-head {
  font-size: 16px;
  font-weight: 500;
}

.foods {
  color: black;
  font-size: 16px;
}

.delete-food {
  font-size: 14px;
  border-radius: 10px;
  padding: .3rem .3rem;
  background-color: rgba(0, 0, 0, 0.411);
  color: white;
  border: none;
}

.food-list {
  margin-left: 17px;
  color: black;
  font-size: 16px;
}