* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  background-color: hsl(205, 100%, 7%, 0.8);
  margin-bottom: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin-right: 20px;
  font-size: 20px;
}

.nav-item-log-out {
  margin-left: 20px;
}

.nav-item-log-out button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

ul li {
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  color: rgb(228, 73, 17);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
